* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    208deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 53, 144, 1) 35%,
    rgba(46, 194, 224, 1) 80%
  );
}

#page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#numbers-container {
  width: 50%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  /* used alongside the shadowing effect to give the illusion of depth */
  perspective: 1200px;
  perspective-origin: 50% 50%;
}

.number-result {
  cursor: default;

  /* creating a psuedo-3D effect */
  background: radial-gradient(circle at 70px 70px, #000, #fff);
  color: #222;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  position: relative;

  /* animation: 2s linear roll; */
  /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

.number-result.bonus {
  height: 5rem;
  width: 5rem;
  padding: 1.5rem;
  color: white;
}

@keyframes roll {
  from {
    transform: translateX(40px) rotate(0deg);
  }

  to {
    transform: translateX(0px) rotate(-360deg);
  }
}

.number-result::before,
.number-result-bonus::before {
  position: absolute;
  content: "";

  width: 100%;
  height: 100%;
  transform: translate(-18px, -15px);

  background: radial-gradient(
    circle at 10% 10%,
    #8f8d8dbb,
    rgba(110, 104, 104, 0) 65%
  );
  filter: blur(22px);
  z-index: 2;

  border-radius: 50%;
}

#lotto-type-select {
  cursor: pointer;
  background-color: transparent;
  /* background-color: red; */
  color: #222;
  position: relative;
}

#lotto-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 100%;
}

.lotto-option span {
  font-size: 1rem;
  /* letter-spacing: 0.75px; */
  text-transform: uppercase;
  font-weight: 800;
}

.lotto-option {
  border: none;

  padding: 1rem;
  background: transparent;
  color: initial;
  box-shadow: none;
  border: none;

  font-size: inherit;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lotto-option.selected {
  /* display: block; */
  /* box-shadow: 0px 16px 0px #429f4e; */
  /* border: 2px solid #429f4e; */
  border-radius: 3px;
  transform: scale(1.05);
  /* background-color: #6bcb77; */
  /* color: #ffd93d; */
  /* outline: auto; */
  /* outline-color: black; */
}
